@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$font-stack: 'Rubik', sans-serif;
$font-standart: 16px;
$font-small: 12px;
$font-xsmall: 10px;
$font-weight-s: 400;
$font-weight-m: 500;
$font-weight-l: 700;
$font-color-left: hsl(276, 55%, 52%); 
$font-color-right: hsl(271, 15%, 43%);
$font-subhead: hsl(276, 100%, 90%);
$font-placeholder: hsl(206, 6%, 79%);
$font-main-head: hsl(271, 36%, 24%);
$font-para: hsl(270, 7%, 64%);

$light-magenta: hsl(293, 100%, 63%);
$light-violet:hsl(264, 100%, 61%);

$white: hsl(0, 0%, 100%);
$background:hsl(270, 20%, 96%);
$msg-background: #EDE7F3;
$button-back: hsl(271, 36%, 24%);
$button-outline: hsl(289, 100%, 72%);
*,
*:before,
*:after {
  box-sizing: border-box;
}
body{
    margin: 0;
    background: $background;
    box-sizing: border-box;
    font-family: $font-stack;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        z-index: -100;
        background: $light-violet;
        background-image: linear-gradient(50deg, $light-violet 30%, $light-magenta 100%);
        border-radius: 0 0 560px 560px;
        height: 100%;
        width: 43%;
    
        @media only screen and (min-width: 1440px){
            right: 70%;
        }
        @media only screen and (min-width: 320px) and (max-width: 1439px){
            width: 84%;
            top: -17%;
            right: 50%;
            height: 80%;
        } 
        
    } 
}

main {
    @media only screen and (min-width: 320px){
        display: block;
    } 
    @media only screen and (min-width: 1440px){
        display: flex;
    }
}
.phone{
    border: 8px solid $white;
    border-radius: 30px;
    position: relative;
    z-index: 5;
    background: $background;
    overflow: hidden;
    box-shadow: rgba(66, 66, 83, 0.25) 0px 10px 27px -5px;
    @media only screen and (min-width: 320px){
        margin: 10% auto;
        width: 300px;
    }
    @media only screen and (min-width: 1440px){
        margin: 3% 0% 3% 25%;
    }
    &::before{
        content: '';
        background: $white;
        position: absolute;
        z-index: 5;
        width: 150px;
        height: 30px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        left: calc(50% - 75px);
        top: -7px;
    }
    .phone-header{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        border-radius: 23px 23px 10px 10px;
        background: $light-violet;
        background-image: linear-gradient(50deg, $light-violet 30%, $light-magenta 100%);
        padding: 20px 20px 5px 20px;
        color: $font-subhead;

        &::before{
            content:"\276E";
            position: absolute;
            left: 2%;
            font-weight: $font-weight-l;
        }
        &::after{
            content:"\205D";
            position: absolute;
            right: 5%;
            font-weight: $font-weight-l;
        }
        figure{
            align-self: center;
            margin: 5px 10px;
            .avatar-img{
                border: 1px solid $white;
                border-radius: 50%;
                width: 25px;
            }
        }
        .chat-name{
            align-self: center;
            p:nth-child(1){
                margin: 0;
            }
            p:nth-child(2){
                font-size: $font-xsmall;
                margin: 0;
            }
        }
        
    }
    .phone-chat{
        .chat-left{
            max-width: 70%;
            margin: 5px;
            color: $font-color-left;
            p{
                display: inline-block;
                background: $msg-background;
                border-radius: 20px 20px 20px 0;
                padding: 10px;
                font-size: $font-small;
                margin: 5px;
            }
            .chat-option{
                width: 90%;
                background: $light-violet;
                border-radius: 20px 20px 20px 0;
                padding: 10px;
                margin: 10px;
                background-image: linear-gradient(50deg, $light-magenta 30%, $light-violet 100%);
                color: $font-subhead;
                
                span:nth-of-type(1){
                    font-size: $font-small;
                }
                span:nth-of-type(2){
                    font-size: $font-standart;
                    font-weight: $font-weight-l;
                    float: right;
                }
            }
        }
        .chat-right{
            max-width: 70%;
            color: $font-color-right;
            margin: 10px;
            margin-left: auto;
            p {
                float: right;
                background: $white;
                border-radius: 20px 20px 0px 20px;
                font-size: $font-small;
                padding: 10px;
                margin: 5px;
                filter: drop-shadow(5px 10px 5px #7474754f);
            }
            .chat-images{
                display: flex;
                figure{
                    align-self: center;
                    margin: 5px;
                    .chat-img{
                        width: 60px;
                        border-radius: 20%;
                    }

                }
            }
        }
        .chat-input{
            display: flex;
            position: relative;
            input{
                border-radius: 30px;
                padding: 10px;
                width: 100%;
                margin: 10px;
                border: none;
                &:focus{
                    outline:none;
                }
            }
            .send-btn{
                border-radius: 50%;
                height: 30px;
                width: 30px;
                top: calc(50% - 15px);
                position: absolute;
                right: 5%;
                background: $button-back;
                border: none;
                &::after{
                   content: '\276F'; 
                   font-size: 20px;
                   color: $white;
                   font-weight: $font-weight-l;
                   position: absolute;
                   top: calc(50% - 15px);
                   left: 10px;
                }
            }
        }
        
    }
    
}

.side-text{
    align-self: center;
    padding: 0% 7%;
    h3{
        color: $font-main-head;
        font-size: 30px;
        animation: underline_anim 1s 10s forwards; 
    }
    p{
        color: $font-para;
    }
    @media only screen and (min-width: 320px){
        width: 100%;
        text-align: center;
        
    }
    @media only screen and (min-width: 1440px){
        width: 45%;
        text-align: left;
    }
}

.loader{
    font-size: 30px;
    padding-left: 50px;
    span{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $light-violet;
        display: inline-block;
        animation: loading 2s 5 forwards;
    }
    span:nth-of-type(1){
        animation-delay: 400ms;
    }
    span:nth-child(2){
        animation-delay: 900ms;
    }
    span:nth-child(3){
        animation-delay: 1300ms;
    }
}
@keyframes loading {
    0% {
    }
  
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
  
    
}

@keyframes popup{
    0%{
        opacity: 0;
        transform: translateY(300%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes underline_anim{
    0%{
    }
    100%{
        text-decoration: underline;
        text-decoration-color: $light-violet;
        font-size: 40px;
    }
}